@use "colors"

.form
  display: flex
  flex-direction: column
  gap: 15px

  button[type='submit']
    align-self: flex-start

  &-field
    display: flex
    flex-direction: column
    gap: 10px

    &__error
      margin-left: 10px
      font-size: .8em
      color: colors.$danger