@use "src/styles/colors"

$modal-border-radius: 15px
$padding-y: 30px

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 10%
  opacity: 1
  background: rgba(0, 0, 0, .5)
  transition: all .2s ease
  backdrop-filter: blur(3px)
  z-index: 1001
  overflow-y: auto
  pointer-events: auto

  &-close
    opacity: 0
    pointer-events: none

  &__content
    height: min-content
    max-width: 550px
    width: 70%
    border-radius: 50px
    transition: transform .2s ease

  &-close &__content
    transform: translateY(20px)

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px $padding-y
    border-radius: $modal-border-radius $modal-border-radius 0 0
    background: colors.$dark
    color: white
    font-size: 1.1rem

  &__close
    cursor: pointer
    transition: color .1s ease

    &:hover
      color: colors.$danger


  &__body
    padding: 15px $padding-y
    background: white

    &-no-footer
      border-radius: 0 0 $modal-border-radius $modal-border-radius

  &__footer
    display: flex
    justify-content: flex-end
    gap: 18px
    padding: 13px $padding-y
    border-radius: 0 0 $modal-border-radius $modal-border-radius
    background: colors.$dark


@media screen and (max-width: 480px)
  .modal__content
    width: 90%
